.header {
    background-color: #740909;
    height: 90;
}

h1 {
    color:#a11111
}

li {
    list-style: none;
}

.page-list-title {
    
}

.page-list {
    float:left;
}

.list-test li {
    color:#32a0a8;
    /*float :left;*/
}

.acces-googlr {
    padding-bottom: 270px;    
}
