<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>"すまぶらのめも(ゆじろーのhp)"</title>
    <link rel="stylesheet" href="sumabura.css">
  </head>
  <body>
    <a href="{% url 'account_logout' %}">ログアウト</a> <!-- 追加 -->
    {% block content %}
    {% endblock %}
    <div class="header">
    </div>
    <h1>
        すまぶらのめも<span>(ゆじろーのhp)</span>
    </h1>
    <div class="page-list">
      <div class="page-list-title">整備中</div>
      <ul>
        <div class="sheik">
          <h1>シーク(編集中)</h1>
            <ul>
              <h5>全体</h5>
              <ul>
                <li>無理ができない、相打ち御免のキャラ。<li>
                <li>相手が相打ちを考えられる、時間的間合いが出来たら、攻撃を当てる方向を変える必要がある。<li>
                <li>例え浮かされた時、空下で差し込むのではなく、そのまま落下して空前先端当て、もしくはそのままスカし着地下強や空後</li>
                <li>空前、空Nをバッタしてくる相手には、着地スキを狙って、めくり空前、空Nが有効。。。というより、こちらにリスクがない。</li>

                <li>勝利前提条件としてダメージレースでは勝っていないと話にならない。重さもワースト5以内に入っているキャラ。なので無理な突込み、個人的には肉弾戦は苦手なイメージ。ヒットアンドウェーでの戦い。如何にして相手の懐(攻撃が入る間合いとタイミング)に入り込むかが大事なキャラ。</li>

                <li>逆に近距離戦が苦手なキャラ(スネーク、ベレトス、セフィロス)のキャラ相手には積極的に間合いを詰めて戦う。ただ、むやみに突っ込んでも差し替えされてしまうので、針、炸裂丸、パなし跳魚等々でのかく乱が必要。</li>

                <li>アーマー持ちは厄介。掴みと遠距離攻撃を多くする。針と炸裂丸を多様。ただし、炸裂丸にビビらず突っ込んでくる輩には使えない。コンボは相手がひるむことで入るものが多いが、非力が故に堪え切られて反撃をもらうことが多い。</li>
                <li>重量級の対策は考え中</li>
                
                <li>低%</li>
                <h7>
                  前投げ跳魚が大体当たる
                </h7>
                <li>中%</li>
                  横強空Nのループではめる
                <li>高%</li>
                <li>撃墜</li>
                <h7>～総括～</h7>
              　<h7>撃墜を考えるのは最低でも50%~からになる。それも崖外に追いやってからの話。撃墜はとてもピーキーな技の当て方が必要なキャラ。</h7>
                <ul>
                  <li>50%~</li>
                  <li>投げから鉈運び後跳魚、空後崖メテオ</li>
                  <li>70%~</li>
                  <li>NAからのSJ針跳魚</li>
                  <li>110%~</li>
                  <li>各種スマッシュ、針跳魚、</li>
                  <li>120%~</li>
                  <li>横強空上、下投げ空上(内ベクトル)</li>
                  <li>135%~</li>
                  <li>下強空上、横or下投げからの読み合いで空上</li>
                </ul>
                  針跳魚
              </ul>  
            </ul>
        </div>
        <div class="snake">
          <h1>スネーク(準備中)</h1>
        <h5>全体</h5>
        <li>接近戦がとにかく苦手。技が出るのが半テンポ遅れる。</li>
        <li>ので肉弾戦を行う場合は、手榴弾、C4、ニキータで相手を誘導しつつ、置き技として使うのがいい。</li>
        <li>ニュートラルの状態では、手榴弾とニキータ、C4で自分のラインを維持しつつ、相手を牽制をする。</li>
        <li>下強が姿勢が低い上に、リーチも結構あるので有効に使っていきたい。特に低い姿勢に当てにくいバッタをする相手には有効。</li>
        <li></li>
          <ul>
            <li>低%</li>
              <ul>
                <li>上投げ上強、手榴弾ガードからの空N,空後
              </ul>
            <li>中%</li>
            <li>高%</li>
            <li>撃墜</li>
            <li>復帰</li>
              <li>上から復帰、下から復帰の場合の二種類あり。</li>
              <li>上からの場合は上の撃墜ラインまでいき、落下の時にニキータ、C4、手榴弾を空ダを混ぜながら着地</li>
              <li>下からの場合は崖を捕まるときに、回避を使かう。それ以外は検討中</li>
              <li>120〜</li>
                <li>上強、上スマ、ニキータ</li>
              <li>160〜</li>
              　　<li>下投げ上強</li>
          </ul>
        </div>
        <div class="marth">
          <h1>マルス(編集中)</h1>
          　<ul>
            <h5>全体</h5>
            <ul>
              <li>自分の間合いを維持して戦うキャラ。先端を当てないと撃墜も難しい。</li>
              <li>最大の難点最大リーチは横強じゃなくてNBであることに留意したい(意外と知られていない。)</li>
              <li>ガードを多く張る人にはNBでプレッシャーも掛けられるので、先端の間合いでNBは積極的に使って行った方が良い。</li>
              
              <li>低%</li>
              <h7>下投げ空上、
              </h7>
              <li>中%</li>
              <li>高%</li>
              
              
              <li>撃墜</li>
              <h7>～総括～</h7>
              <h7>シルブレをすれば早期撃墜(30%~)が可能。中%でもマベコン横先端、横スマッシュ先端で撃墜が可能</h7>

                <ul>
                  <li>40%~</li>
                  <li>NBフルチャージ、横スマッシュ先端</li>
                  <li>70%~</li>
                  <li>マベコン横先端、</li>
                  <li>110%~</li>
                  <li>各種スマッシュ、各種空中攻撃、マベコン横、横強、上強、カウンター</li>
                </ul>
            </ul>  
          </ul>
        </div>
      </ul>

      <div class="access-google">
        <a href="https://www.google.co.jp/">
          グーグルに帰る
        </a>
      </div>
      <div class="access-pixiv">
        <a href="https://www.pixiv.net/users/28476342">
          pixivにじゃんぷ
        </a>
      </div>
      <div class="acces_home">
        <a href="./index.html">
          <li>ホーム</li>
        </a>
      </div>
      
      <div class="sentence-kind">
        優しさは<span>タダ</span>じゃない
      </div>
    </div>
  </body>
</html>
